# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
venv/
ENV/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Results / reports
results/
